.PinPost {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
	padding: 25px;
	border-radius: 10px;
	background-color: black;
	overflow: hidden;

	& > h1 {
		text-align: center;
		font-size: 32px;
		color: white;
		font-weight: 600;
	}

	.PinPost_content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		position: relative;
		gap: 25px;
	}
}
