@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

ul,
li {
  margin: 0;
  list-style: none;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  position: sticky !important;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  z-index: 100;
}
.Header h1 {
  font-size: 24px;
}
.Header .Header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 64px;
}
.Header .Header_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: black;
  position: relative;
}
.Header .Header_links a:hover::before {
  width: 100%;
}
.Header .Header_links a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0%;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.BlogBox {
  position: relative;
  text-align: center;
  width: 35%;
  cursor: pointer;
}
.BlogBox:hover img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.BlogBox img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.BlogBox .Blogbox_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  position: absolute;
  width: 100%;
  top: 35%;
}
.BlogBox .Blogbox_content h2 {
  font-size: 64px;
  font-weight: 500;
  color: white;
}
.BlogBox .Blogbox_content p {
  max-width: 80%;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.BlogBox .Blogbox_content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.BlogBox .Blogbox_content section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
}

.Modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  z-index: 150;
  width: 95%;
  height: 95%;
  top: 3%;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 20px;
  gap: 50px;
  overflow-y: scroll;
  scrollbar-width: 20px;
}
.Modal .Modal_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.Modal .Modal_left img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
}
.Modal .Modal_left .Modal_lefr_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.Modal .Modal_left .Modal_lefr_header h1 {
  font-size: 60px;
}
.Modal .Modal_left .Modal_lefr_header p {
  font-size: 18px;
}
.Modal .Modal_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 200px;
  position: sticky !important;
  top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  overflow: hidden;
  -webkit-box-shadow: 15px 21px 13px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 21px 13px -3px rgba(0, 0, 0, 0.2);
}
.Modal .Modal_right .Modal_right_presonal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Modal .Modal_right .Modal_right_presonal h1 {
  font-size: 12px;
}
.Modal .Modal_right .Modal_right_presonal button {
  width: 30%;
  height: 50px;
  background: none;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 500;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}
.Modal .Modal_right h4 {
  justify-self: flex-start;
}
.Modal .Modal_right h4 span {
  font-size: 12px;
}

.HomePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}